<footer>
  <ul class="friend-link">
    <i class="fa fa-home" aria-hidden="true"></i>
    <i class="fa fa-wechat"></i>
    <i class="fa fa-qq"></i>
    <i class="fa fa-tencent-weibo"></i>
    <i class="fa fa-mail-forward"></i>
  </ul>
  <p class="share-label">我的分享</p>
  <div class="share">
    <span>Github</span>
    <span>技术博客</span>
  </div>
  <p class="thank">感谢阅读</p>
  <p class="copyright-code"> @ Copyright 2008-2015. </p>
  <div class="copyright-details">
    All rights reserved. Powsered by the
    <span>Doc2git</span>
  </div>
</footer>