<nav>
  <div class="logo-b">B</div>
  <div class="options">
    <div>首页</div>
    <br>
    <div>
      <%= link_to '新建文章', new_article_path %>
    </div>
    <div class="hanberger">一</div>
  </div>
</nav>
<br>