<div id="commenter-active-info" href="###">
  <div class="user-avanta commenter-avanta"></div>
  <ul class="info">
    <li class="user-name">
      名字
    </li>
    <li>
      发表了<span>N</span>篇文章
    </li>
    <li>
      评价了<span>M</span>条
    </li>
    <li>
      有<span>L</span>条新回复
    </li>
  </ul>
</div>
