<div class="comment">
  <div class="comment-body">
    <h4 class="media-heading">
      <%= comment.body %>
    </h4>
    <div class="genius-bar">
      <div class="like"></div>
      <div class="ishare"></div>
      <div class="smile"></div>
      <div class="message"></div>
      <div class="fav"></div>
      <div class="attachment"></div>
    </div>
  </div>
  <div class="plugins" >
    <%= link_to '回复', [comment.article, comment] %>
    <%= link_to '删除', [comment.article, comment],
                method: :delete,
                data: {confirm: 'Are you sure?'} %>
  </div>
  <%= render 'structures/user-active-info' %>
</div>
