#articles-area
  display: flex
  justify-content: flex-start
  .avanta
    flex: 0 1 auto
  .data
    flex: 1 3 auto
    margin-left: .4rem
  
     
.data
  display: flex
  flex-direction: column
  .data-urd
    align-self: flex-end
    display: flex
    justify-content: flex-end
    margin-right: 1.6rem
    width: 3rem

.data-title
  font-size: .24rem
  font-family: "Microsoft Yahei", "宋体", "黑体", Tahoma, Helvetica, Arial, sans-serif 
  color: #0054a6
.data-content
  position: relative
  left: -.40rem
  border: 0
  margin: 0
  padding: 0 0 0 .4rem
  width: 90%
  height: .78rem
  line-height: .26rem
  overflow: hidden
  font-size: .12rem
  font-family: "Microsoft Yahei", "宋体", Tahoma, Helvetica, Arial, sans-serif
  i
    position: relative
    top: -.04rem
    left: .04rem
    font-weight: bold


.data-urd
  a
    color: #444
    display: block
    float: left
    font: normal 12px arial, sans-serif
    text-decoration: none
    margin: 0 .2rem 0 0
    border-radius: .05rem
    height: .32rem
    line-height: .32rem
    padding: 0 .1rem
    text-align: center
    background: #fca713
    font-size: .12rem
      
    
    
